body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  font-family: "Cantarell";
  background: var(--principal-color);
}

.container {
  width: 1500px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  background: var(--secondary-color);
}
.navbar {
  margin: 10px;
  margin-bottom: 200px;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 30%;
  width: 100%;
  z-index: 1000;
}

.title {
  font-size: 3rem;
  margin-top: 100px;
}

.avatar-img {
  width: 400px;
  height: 400px;
  margin: 30px;
  border-radius: 64px;
}

.presentation-text {
  text-align: justify;
  font-size: 2rem;
  padding: 50px;
  margin: 20px;
  margin-bottom: var(--margin-bottom-principal);
}

.studies {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.estudies-li {
  font-size: 2rem;
  font-style: none;
  margin-bottom: var(--margin-bottom-principal);
  font-style: italic;
}

.skills {
  margin-bottom: var(--margin-bottom-principal);
}

ol li {
  font-size: 1rem;
}

.projects-personal {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--margin-bottom-principal);
}

.projects-psys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
