html,
body {
  background: #00000f;
}
.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formcontact form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #ffffff;
}
.formcontact form input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.formcontact form textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.formcontact form button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #61dafb;
  color: #000000;
  border: none;
}
.link a {
  text-decoration: none;
  color: hsl(120, 30%, 100%);
}
.myproject-div:hover {
  width: 50%;
  height: 50%;
}
